body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 20px auto;
    gap: 20px;
    align-items: flex-start;
}

.left-panel {
    flex: 0 1 calc(70% - 10px);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.right-panel {
    flex: 0 1 calc(30% - 10px);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .left-panel,
    .right-panel {
        flex: 1 1 100%;
    }
}

.graph-container {
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 20px;
}

.inline-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.inline-form .form-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.inline-form input {
    width: 100%;
    max-width: 200px;
    padding: 8px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.update-button {
    flex: 0 1 auto;
    max-width: 100px;
    padding: 8px 15px;
    font-size: 0.9rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.update-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.update-button:active {
    background-color: #004494;
    transform: translateY(0);
}

.form-group {
    margin-bottom: 15px;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input:focus,
select:focus,
button:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

button {
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

button:active {
    background-color: #004494;
    transform: translateY(0);
}

/* .output-container {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; /* Приховуємо за замовчуванням */
} */

.output-container.active {
    display: block; /* Показуємо, коли клас active */
}

.loading-indicator {
    display: none;
    text-align: center;
    margin-top: 10px;
    font-size: 1.1rem;
    color: #007BFF;
    font-weight: bold;
}

.loading-indicator.active {
    display: block;
}