<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyse Traffic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form action="/run" method="post">
        <h1>Analyse Traffic</h1>

        <div class="form-group">
            <label for="start_time">Start Time:</label>
            <input type="text" id="start_time" name="start_time" value="{{ start_date }}">
        </div>

        <div class="form-group">
            <label for="end_time">End Time:</label>
            <input type="text" id="end_time" name="end_time" value="{{ end_time }}">
        </div>

        <div class="form-group">
            <label for="top">Top:</label>
            <input type="number" id="top" name="top" placeholder="e.g., 100">
        </div>

        <div class="form-group">
            <label for="filter">Filter:</label>
            <input type="text" id="filter" name="filter" placeholder="e.g., srcip, dstip">
        </div>

        <div class="form-group">
            <label for="router_ip">Router:</label>
            <select id="router_ip" name="router_ip" multiple>
                {% for device in devices %}
                    <option value="{{ device }}">{{ device }}</option>
                {% endfor %}
            </select>
            <p style="font-size: 0.9em; color: gray;">Hold down the Ctrl (Windows) or Command (Mac) button to select multiple options.</p>
        </div>

        <div class="form-group">
            <label for="format">Format:</label>
            <input type="text" id="format" name="format" placeholder="e.g., csv">
        </div>

        <button type="submit">Run</button>
    </form>
</body>
</html>