<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Command Output</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <a href="/">Return to Home</a>
        <a href="{{ url_for('download_file') }}" class="download-link" download>
            Download Updated Data (CSV)
        </a>
        <h1>Command Output</h1>
        <div class="table-container">
            {{ table|safe }}
        </div>
    </div>
</body>
</html>