{% extends "base.html" %}

{% block title %}Command Output{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3 class="mb-4">Command Output</h3>
    <div class="d-flex justify-content-start align-items-center mb-3">
        <a href="/" class="btn btn-primary">Return to Home</a>
        <a href="{{ url_for('download_file') }}" class="btn btn-link" download>
            Download Updated Data (CSV)
        </a>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="lead">Analysing traffic for period: {{ start_time }} {{ end_time }}</p>
            <p class="lead">
                {{ command }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 table-responsive">
            {{ table|safe }}
        </div>
    </div>
</div>
{% endblock %}